.carousel-inner img{
    filter: brightness(0.7);
    -webkit-backdrop-filter: brightness(0.7);
}

.carousel-caption{  
  font-family: Arial, Helvetica, sans-serif
  text-shadow: 0em 0em .3em #fff;
  /* color: black; */
}

.carousel-caption p{
  font-size: 1.25rem;
}

.addrsContact{
  height: 300px;
  background-image: url("file:///D:/Web%20Dev/Website-Jamur/img/background.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.address{
  background-color: rgba(94,94,94,.92);
}

.contact{
  background-color: rgba(215, 128, 74,.92);
  
}

.address-content, .contact-content{
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 2.5rem;
  color: #fff;
}

.address a.btn{
  border: 2.5px solid #d7804a;
  background-color: #fff;
  color: hsl(23deg 64% 40%);
}

.contact a.btn{
  border: 2.5px solid #5e5e5e;
  background-color: #fff;
  color: #5e5e5e;
}