.carousel-caption{
  margin-bottom: 5rem;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  text-shadow: 0em 0em .3em #fff;
  /* color: black; */
}

.carousel-caption p{
  font-size: 1.25rem;
}

.addrsContact{
  height: 300px;
  background-image: url("file:///D:/Web%20Dev/Website-Jamur/img/background.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}